@{
    ViewData["Title"] = "Crear pedido";
}

<section class="crear-pedido">
    <form method="post">
        <label for="det">Detalles
            <input type="text" name="det" id="det">
        </label>
        <label for="idc">ID 
            <input type="number" name="idc" id="idc">
        </label>
        <label for="nomc">Nombre 
            <input type="text" name="nomc" id="nomc">
        </label>
        <label for="direc">Dirección  
            <input type="text" name="direc" id="direc">
        </label>
        <label for="tel">Teléfono 
            <input type="number" name="tel" id="tel">
        </label>
        <label for="datos">Datos de referencia 
            <input type="text" name="datos" id="datos">
        </label>
        <input type="submit" value="Ingresar pedido">
    </form>
</section>