@{
    ViewData["Title"] = "Detalles de cadete";
}
@model CadeteModel;

<section class="detalles">
    <p><strong>ID: </strong>@Model.id</p>
    <p><strong>Nombre: </strong>@Model.nombre</p>
    <p><strong>Dirección: </strong>@Model.direccion</p>
    <p><strong>Teléfono: </strong>@Model.telefono</p>
</section>