@{
    ViewData["Title"] = "Ver cadetes";
}

<section class="cadetes">
    <table>
        <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Acciones</th>
        </thead>
        <tbody>
            @foreach (CadeteModel cadete in (List<CadeteModel>)ViewData["cadetes"])
            {
                <tr>
                    <td>@cadete.id</td>
                    <td>@cadete.nombre</td>
                    <td>@cadete.direccion</td>
                    <td>@cadete.telefono</td>
                    <td><a asp-controller="">Editar</a><a asp-controller="">Borrar</a><a asp-controller="">Detalles</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>